ul {
  list-style-type: none;
  text-align: center;
  top: 120px;
}

.center {
  position:absolute;
  left:80px;
  top:20px;
}

#info {
	position: absolute;
	top: 520px;
   font-family: "Times New Roman", Times, serif;

  font-size: 18px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
   opacity: 0.5;
}
#navs {
  position: absolute;
  top: 570px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
#about {
  position: absolute;
  top: 400px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
#navsAbout {
  position: absolute;
  top: 600px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#social {
  position: fixed;
   bottom: 875px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#video {
  position: absolute;
  top: 40px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#logo {
position: absolute;
right: 0px;
bottom: 0px;
}
